.container {
    text-align: center;
    margin-top: 50px;
}   

.color-box {
    width: 200px;
    height: 200px;
    background-color: rgb(232, 150, 44);
}

#change-color-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    border-radius: 10px;
}